:root {
  --withe: #ffffff;
  --black: #000000;
  --logo:#FFD24C;
  --dark-soft-blue:#6b9ef0;
  --dark-blue: #0a3d62;
  --soft-blue: #92B4EC;
  --green-correct: #2ecc71;
  --red-error: #e74c3c;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px 150px;
  align-items: center;
}
@media (max-width: 850px) {
  header {
    flex-direction: column;
  }
  header .links {
    padding: 15px 0;
  }
}
header .logo a {
  color: var(--logo);
  font-size: 32px;
  text-decoration: none;
  font-weight: 800;
}
header .links ul {
  display: flex;
}
header .links ul li {
  list-style: none;
  margin: 0 10px;
}
header .links ul li a {
  text-decoration: none;
  color: var(--dark-blue);
  font-weight: 600;
}

.header-image {
  height: 450px;
  width: 100vw;
  background-image: url(/assets/alimentos-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  padding: 15px 45px;
  font-weight: 800;
  display: flex;
  justify-content: center;
  color: var(--dark-blue);
}
@media (max-width: 500px) {
  h1 {
    font-size: 1.75rem;
  }
}

h2 {
  padding: 15px 150px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  color: var(--dark-blue);
}
h2 span {
  margin-left: 10px;
}

.shop {
  padding: 45px 150px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
@media (max-width: 1280px) {
  .shop {
    font-size: 1.75rem;
  }
}
.shop .product {
  width: 20%;
  height: 400px;
  border-radius: 25px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05);
}
.shop .product .image {
  width: 250px;
  height: 250px;
  padding-bottom: 30px;
}
.shop .product .image img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.shop .product p {
  padding: 2.5px 0;
}

.back {
  margin: 0 150px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 100%;
  background-color: transparent;
}
.back i {
  color: var(--soft-blue);
  transition: 0.5s;
}
.back i:hover {
  color: var(--dark-soft-blue);
}

.file {
  display: flex;
  padding: 35px 150px;
}
.file .image {
  height: 500px;
  width: 500px;
}
.file .image img {
  height: 100%;
}
.file .datail {
  display: flex;
  flex-direction: column;
}
.file .datail p {
  font-size: 20px;
  padding: 10px;
  font-weight: 600;
}
.file .datail p:nth-child(5) {
  color: var(--green-correct);
}
.file .datail button {
  width: 75px;
  height: 25px;
  border-radius: 25px;
  border: none;
  margin: 20px 10px;
  font-weight: 600;
  color: var(--withe);
  background-color: var(--soft-blue);
  transition: 0.5s;
}
.file .datail button:hover {
  background-color: var(--dark-soft-blue);
}

.about {
  padding: 45px 150px;
}
.about p {
  margin: 15px 0;
  font-size: 17px;
}
@media (max-width: 850px) {
  .about {
    padding: 45px 45px;
  }
}

.cart {
  padding: 45px 150px;
}
.cart table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  font-size: 17px;
  text-align: center;
  margin: 0;
  padding: 0;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
}
.cart table thead {
  text-transform: uppercase;
  background-color: #f4f4f4;
}
.cart table tbody {
  background-color: #fafbfd;
}
.cart table tr td {
  padding: 10px;
}
.cart table tr td button {
  background-color: var(--red-error);
  color: white;
  border: none;
  width: 75px;
  height: 25px;
  border-radius: 25px;
  transition: 0.25s;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
}
.cart table tr td button:hover {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.55);
  background-color: #ad0000;
}
.cart table tr td a {
  text-decoration: none;
  color: var(--dark-blue);
}
.cart table tr td a:hover {
  color: var(--dark-soft-blue);
}
.cart table tr th {
  padding: 10px;
}
.cart table tr:hover {
  background-color: #f4f4f4;
}
.cart p {
  text-align: end;
  padding: 10px;
}
.cart p .pagar {
  border-radius: 25px;
  border: none;
  width: 70px;
  height: 30px;
  font-weight: 500;
  color: var(--withe);
  background-color: var(--green-correct);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  transition: 0.25s;
}
.cart p .pagar:hover {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.55);
  background-color: #0a9142;
}

.form {
  padding: 45px 150px;
}

.draw {
  padding: 15px 150px;
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.draw .state {
  width: 75px;
  height: 75px;
  background-color: var(--green-correct);
  border: none;
  border-radius: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 700;
}
.draw .state:nth-child(4n+4) {
  background-color: var(--red-error);
}
.draw .state P {
  position: absolute;
  top: 105%;
  color: var(--dark-blue);
}
.draw .line {
  width: 400px;
  height: 15px;
  background-color: var(--dark-blue);
  position: absolute;
  border-radius: 25px;
}

#register {
  height: 475px;
  width: 675px;
  padding: 0;
}
#register .photo {
  margin-bottom: 17%;
}
#register .photo .example {
  height: 250px;
  width: 250px;
  background-color: beige;
  margin: 5px 0;
  border-radius: 25px;
}
#register .photo .example p {
  text-align: center;
  margin-top: 45%;
}
#register .photo input {
  margin-left: 35px;
}
#register form span {
  max-width: 275px;
}
#register form .buttons input {
  border: none;
  width: 85px;
  height: 30px;
  color: var(--withe);
  border-radius: 25px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  background-color: var(--soft-blue);
  transition: 0.25s;
}
#register form .buttons input:hover {
  background-color: var(--dark-soft-blue);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.55);
}

@media (max-width: 650px) {
  #register {
    flex-direction: column-reverse;
    justify-content: flex-start;
    height: 775px;
    width: 675px;
    padding: 10px 0;
  }
  #register .photo {
    margin-bottom: 0;
  }
}
#mantenedor {
  padding-bottom: 0px;
}
#mantenedor #register {
  border-radius: 15px 15px 0 0;
}

#tpro {
  padding-top: 5px;
  max-width: 675px;
  margin: auto;
}

.card {
  padding: 45px 150px;
  display: flex;
  justify-content: center;
}
.card .form {
  height: 165px;
  display: flex;
  justify-content: center;
  background-color: rgba(240, 240, 240, 0.431372549);
  width: 275px;
  border-radius: 15px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
}
.card .form form {
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card .form form input {
  margin: 10px;
}
.card .form form .campo {
  height: 35px;
  width: 250px;
  border-radius: 25px;
  border: none;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  background-color: rgba(66, 137, 252, 0.1176470588);
  transition: 0.25s;
  padding: 0 15px;
}
.card .form form .campo::-webkit-input-placeholder {
  text-align: center;
}
.card .form form .campo:hover {
  border: none;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.55);
}
.card .form form select {
  height: 35px;
  width: 280px;
  border: none;
  border-radius: 25px;
  text-align: center;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  background-color: rgba(66, 137, 252, 0.1176470588);
  transition: 0.25s;
  margin: 10px;
}
.card .form form select:hover {
  border: none;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.55);
}
.card .form form .links a {
  text-decoration: none;
  color: var(--dark-blue);
  text-align: center;
}
.card .form form .links a:hover {
  color: var(--dark-soft-blue);
}
.card .form form .button {
  border: none;
  width: 85px;
  height: 30px;
  color: var(--withe);
  border-radius: 25px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  background-color: var(--soft-blue);
  transition: 0.25s;
}
.card .form form .button:hover {
  background-color: var(--dark-soft-blue);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.55);
}

.admin {
  padding: 45px 150px;
  display: flex;
  justify-content: center;
}
.admin .card {
  height: 200px;
  display: flex;
  border-radius: 15px;
  background-color: rgba(240, 240, 240, 0.431372549);
  width: 275px;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
}
.admin .card button {
  border: none;
  width: 350px;
  height: 40px;
  margin: 5px 0;
  color: var(--withe);
  border-radius: 25px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  background-color: var(--soft-blue);
  transition: 0.25s;
}
.admin .card button:hover {
  background-color: var(--dark-soft-blue);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.55);
}/*# sourceMappingURL=styles.css.map */